In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
data=pd.read_csv('../../GKX/GKX_20201231.csv')

In [5]:
data

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
0,10006,19260130,6.540000e+04,0.032732,110.250000,600,NaN,NaN,NaN,NaN,...,0.006857,NaN,NaN,NaN,NaN,NaN,6.562500e-05,NaN,NaN,NaN
1,10022,19260130,1.120000e+04,0.017857,57.000000,200,NaN,NaN,NaN,NaN,...,0.018018,NaN,NaN,NaN,NaN,NaN,2.573529e-06,NaN,NaN,NaN
2,10030,19260130,2.340000e+04,0.161667,174.250000,156,NaN,NaN,NaN,NaN,...,0.004158,NaN,NaN,NaN,NaN,NaN,2.275000e-05,NaN,NaN,NaN
3,10049,19260130,1.850000e+04,0.141892,83.500000,250,NaN,NaN,NaN,NaN,...,0.006780,NaN,NaN,NaN,NaN,NaN,2.187500e-05,NaN,NaN,NaN
4,10057,19260130,6.125000e+03,-0.035714,11.812500,500,NaN,NaN,NaN,NaN,...,0.071795,NaN,NaN,NaN,NaN,NaN,9.943182e-06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4345503,93423,20201231,2.611343e+06,0.109665,34.099998,84977,1.921340,3.691548,0.798194,16.060575,...,0.060029,4.462048e-10,0.176471,0.050187,0.519033,17.649093,3.803709e-09,79.0,NaN,NaN
4345504,93426,20201231,3.671460e+05,0.076239,31.480000,12552,1.301940,1.695047,0.551929,12.334190,...,0.035050,2.296462e-08,0.159100,0.043004,0.473367,2.144264,3.236729e-08,36.0,NaN,NaN
4345505,93427,20201231,2.523235e+06,0.135851,77.589996,36938,0.847169,0.717695,0.011311,14.568580,...,0.029388,1.364274e-09,0.048227,0.020206,0.294512,1.469369,2.227010e-08,36.0,NaN,NaN
4345506,93434,20201231,8.738802e+04,0.122605,2.930000,33482,0.389812,0.151954,0.282874,9.453983,...,0.051558,3.435272e-07,0.116667,0.035277,0.935967,0.897075,1.037670e-07,1.0,NaN,NaN
4345507,93436,20201231,1.735365e+08,0.243252,705.669983,947901,1.349505,1.821163,0.868039,19.036016,...,0.047931,1.820359e-12,0.101968,0.039271,0.531632,18.110463,2.654462e-09,37.0,NaN,NaN

In [3]:
data.head()

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
0,10006,19260130,65400.0,0.032732,110.2500,600,NaN,NaN,NaN,NaN,...,0.006857,NaN,NaN,NaN,NaN,NaN,0.000066,NaN,NaN,NaN
1,10022,19260130,11200.0,0.017857,57.0000,200,NaN,NaN,NaN,NaN,...,0.018018,NaN,NaN,NaN,NaN,NaN,0.000003,NaN,NaN,NaN
2,10030,19260130,23400.0,0.161667,174.2500,156,NaN,NaN,NaN,NaN,...,0.004158,NaN,NaN,NaN,NaN,NaN,0.000023,NaN,NaN,NaN
3,10049,19260130,18500.0,0.141892,83.5000,250,NaN,NaN,NaN,NaN,...,0.006780,NaN,NaN,NaN,NaN,NaN,0.000022,NaN,NaN,NaN
4,10057,19260130,6125.0,-0.035714,11.8125,500,NaN,NaN,NaN,NaN,...,0.071795,NaN,NaN,NaN,NaN,NaN,0.000010,NaN,NaN,NaN

In [4]:
data.tail()

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
4345503,93423,20201231,2.611343e+06,0.109665,34.099998,84977,1.921340,3.691548,0.798194,16.060575,...,0.060029,4.462048e-10,0.176471,0.050187,0.519033,17.649093,3.803709e-09,79.0,NaN,NaN
4345504,93426,20201231,3.671460e+05,0.076239,31.480000,12552,1.301940,1.695047,0.551929,12.334190,...,0.035050,2.296462e-08,0.159100,0.043004,0.473367,2.144264,3.236729e-08,36.0,NaN,NaN
4345505,93427,20201231,2.523235e+06,0.135851,77.589996,36938,0.847169,0.717695,0.011311,14.568580,...,0.029388,1.364274e-09,0.048227,0.020206,0.294512,1.469369,2.227010e-08,36.0,NaN,NaN
4345506,93434,20201231,8.738802e+04,0.122605,2.930000,33482,0.389812,0.151954,0.282874,9.453983,...,0.051558,3.435272e-07,0.116667,0.035277,0.935967,0.897075,1.037670e-07,1.0,NaN,NaN
4345507,93436,20201231,1.735365e+08,0.243252,705.669983,947901,1.349505,1.821163,0.868039,19.036016,...,0.047931,1.820359e-12,0.101968,0.039271,0.531632,18.110463,2.654462e-09,37.0,NaN,NaN

# 1. Select data from 1960 to 2019

In [6]:
data = data[data.DATE >= 19600101][data.DATE <=20191231].reset_index(drop = True)

/tmp/ipykernel_1587786/1403339637.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = data[data.DATE >= 19600101][data.DATE <=20191231].reset_index(drop = True)

In [7]:
data.head()

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
0,10006,19600129,68773.00,0.005155,48.750,1418,1.158041,1.341058,-0.078184,9.474396,...,0.015272,2.059137e-07,0.033943,0.015149,0.591078,0.533983,9.859742e-08,37.0,NaN,NaN
1,10014,19600129,9823.50,0.138889,5.125,2183,1.838109,3.378645,-0.506541,7.946573,...,0.035918,1.906160e-06,0.028571,0.021261,0.491650,0.481666,8.535634e-08,NaN,NaN,NaN
2,10022,19600129,21133.75,-0.045455,13.125,1537,1.157077,1.338827,-0.374534,8.507143,...,0.022607,6.754297e-07,0.040000,0.026199,0.877110,1.639491,5.271194e-08,NaN,NaN,NaN
3,10030,19600129,81200.00,-0.015000,49.250,1624,1.327625,1.762587,-0.186923,9.550378,...,0.014960,4.355397e-07,0.038462,0.020206,0.936132,0.771756,1.102852e-07,NaN,NaN,NaN
4,10057,19600129,27062.50,-0.020785,53.000,500,1.194604,1.427080,-0.293635,8.138565,...,0.002941,3.479863e-07,0.018692,0.006685,0.451979,0.190010,9.545457e-01,NaN,NaN,NaN

In [8]:
data.tail()

,permno,DATE,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
3930469,93423,20191231,3.675103e+06,0.037489,45.110001,84524,0.986190,0.972570,0.082350,16.719505,...,0.024345,1.993666e-10,0.032511,0.015523,0.337361,5.211489,6.883089e-09,79.0,NaN,NaN
3930470,93426,20191231,4.300562e+05,-0.011915,34.000000,12498,1.441271,2.077263,-0.095066,12.908166,...,0.028999,6.936172e-09,0.070378,0.024943,0.498869,2.761443,1.867039e-08,36.0,NaN,NaN
3930471,93427,20191231,2.238312e+06,0.071913,64.839996,37003,1.129546,1.275875,0.609973,14.989790,...,0.025465,9.104732e-10,0.039481,0.019476,0.602190,6.208455,1.396611e-08,36.0,NaN,NaN
3930472,93434,20191231,7.526704e+04,-0.070796,2.100000,33305,0.636928,0.405677,-0.306626,8.623688,...,0.055040,1.254792e-06,0.112554,0.040972,0.772292,0.433168,2.360961e-07,1.0,NaN,NaN
3930473,93436,20191231,5.947004e+07,0.267897,418.329987,181062,1.007679,1.015416,1.253614,18.886064,...,0.025733,5.419624e-12,0.029506,0.021046,0.421723,18.833708,2.497297e-09,37.0,NaN,NaN

In [14]:
data.DATE

0          19600129
1          19600129
2          19600129
3          19600129
4          19600129
             ...
3930469    20191231
3930470    20191231
3930471    20191231
3930472    20191231
3930473    20191231
Name: DATE, Length: 3930474, dtype: int64

In [15]:
data['DATE']=data['DATE']//100 
data = data.rename(columns={'DATE': 'yyyymm'})#Let the DATE become the format "yyyymm"

In [17]:
data.head()

,permno,yyyymm,mvel1,RET,prc,SHROUT,beta,betasq,chmom,dolvol,...,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2,bm,bm_ia
0,10006,196001,68773.00,0.005155,48.750,1418,1.158041,1.341058,-0.078184,9.474396,...,0.015272,2.059137e-07,0.033943,0.015149,0.591078,0.533983,9.859742e-08,37.0,NaN,NaN
1,10014,196001,9823.50,0.138889,5.125,2183,1.838109,3.378645,-0.506541,7.946573,...,0.035918,1.906160e-06,0.028571,0.021261,0.491650,0.481666,8.535634e-08,NaN,NaN,NaN
2,10022,196001,21133.75,-0.045455,13.125,1537,1.157077,1.338827,-0.374534,8.507143,...,0.022607,6.754297e-07,0.040000,0.026199,0.877110,1.639491,5.271194e-08,NaN,NaN,NaN
3,10030,196001,81200.00,-0.015000,49.250,1624,1.327625,1.762587,-0.186923,9.550378,...,0.014960,4.355397e-07,0.038462,0.020206,0.936132,0.771756,1.102852e-07,NaN,NaN,NaN
4,10057,196001,27062.50,-0.020785,53.000,500,1.194604,1.427080,-0.293635,8.138565,...,0.002941,3.479863e-07,0.018692,0.006685,0.451979,0.190010,9.545457e-01,NaN,NaN,NaN

# 2. Construct full dataset

In [9]:
dm=pd.read_excel('macro.xlsx')

In [ ]:
dm.head()

In [ ]:
dm = dm.loc[(dm['yyyymm']>=196001)&(dm['yyyymm']<202001)]
dm

## 2.1 Calculate some macropredictors that are not given directly
       Dividen to ptice ratio(dp):log(D12)-log(Index)
       Earnings-price ratio(ep):log(E12)-log(Index)
       Term spread(tms):lty-tbl
       Default spread(dfy):BAA-AAA

In [13]:
dm['dp']=dm['D12'].apply(math.log)-dm['Index'].apply(math.log)
dm['ep']=dm['E12'].apply(math.log)-dm['Index'].apply(math.log)
dm['tms']=dm['lty']-dm['tbl']
dm['dfy']=dm['BAA']-dm['AAA']
#Rename b/m by bm and Keep only 8 needed macropredictors
ned=['yyyymm', 'dp', 'ep', 'bm', 'ntis', 'tbl', 'tms', 'dfy','svar']
dm=dm.rename(columns={'b/m':'bm'})[ned]
dm.to_csv('macro.csv',index=False)

## 2.2 Join the two datasets

In [14]:
macro = pd.read_csv('macro.csv')
macro

,yyyymm,dp,ep,bm,ntis,tbl,tms,dfy,svar
0,196001,-3.394191,-2.797533,0.499502,0.022116,0.0435,0.0006,0.0073,0.000919
1,196002,-3.383903,-2.806662,0.493557,0.024037,0.0396,0.0033,0.0078,0.001150
2,196003,-3.350808,-2.792666,0.549798,0.025593,0.0331,0.0080,0.0076,0.000969
3,196004,-3.331425,-2.787838,0.563404,0.025577,0.0323,0.0103,0.0075,0.000645
4,196005,-3.356176,-2.827389,0.541966,0.024414,0.0329,0.0088,0.0082,0.000424
...,...,...,...,...,...,...,...,...,...
715,201908,-3.941330,-3.086025,0.248539,-0.010142,0.0195,-0.0032,0.0089,0.004318
716,201909,-3.951689,-3.108987,0.243797,-0.010838,0.0189,-0.0019,0.0088,0.000605
717,201910,-3.965984,-3.112869,0.242630,-0.013157,0.0165,0.0006,0.0091,0.001510
718,201911,-3.993568,-3.130267,0.233936,-0.007796,0.0154,0.0027,0.0088,0.000306
719,201912,-4.015896,-3.142629,0.229944,-0.007199,0.0154,0.0032,0.0087,0.000502

In [15]:
data1 = pd.merge(data, macro, how='left', on='yyyymm', suffixes=('', '_macro'))

In [16]:
data1['excess_ret']=data1['RET']-data1['tbl'] #Calculate return in excess of risk-free rate

## 2.3 Fill the missing value with cross-sectional median or 0

In [18]:
nonpd = ['yyyymm','RET','SHROUT','mve0','prc','permno','excess_ret'] #Nonpredictors
macropd = ['dp','ep_macro','bm_macro','ntis','tbl','tms','dfy','svar'] #Macroeconomic predictors
sic2 = ['sic2'] #Industrial dummies
lst = nonpd+macropd+sic2
stockpd = [p for p in data1.columns if p not in lst] #Stock-level predictors
len(stockpd)

94

In [19]:
period_list = np.unique(data1['yyyymm'])
len(period_list)

720

In [ ]:
for pd in stockpd:
    c_row = 0
    for period in period_list:
        n_period = data1[data1['yyyymm']==period].shape[0]
        #Compute the cross-sectional median of this stock predictor
        median = np.nanmedian(data1.loc[c_row:(c_row+n_period-1),pd])
        #Fill missing values with median
        data1.loc[c_row:(c_row+n_period-1),pd] = data1.loc[c_row:(c_row+n_period-1),pd].replace(np.nan,median)
        c_row = c_row + n_period

In [23]:
newdt = data1.fillna(0)

In [ ]:
newdt = newdt.drop(columns=['prc','SHROUT','mve0','RET']) #Drop the predictors that are not used

In [25]:
newdt.to_csv('merge_data.csv', index = False)